@inject AuthenticationStateProvider AuthenticationStateProvider

@functions{
    private bool IsLoggedIn()
    {
        var authenticationState = AuthenticationStateProvider.GetAuthenticationStateAsync().Result;
        return authenticationState.User.Identity.IsAuthenticated;
    }
}

@inherits LayoutComponentBase

<PageTitle>IMS</PageTitle>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">E MERCHANTS</a>
        <button class="navbar-toggler p-0 border-0" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="CollapseSubNavMenu">
                        Home
                    </NavLink>
                </li>
                <AuthorizeView Roles="Admin, WholeSaler">
                <li class="nav-item">
                    <NavLink class="nav-link" href="inventories" @onclick="CollapseSubNavMenu">
                        Inventories
                    </NavLink>
                </li>
                
                <li class="nav-item">
                    <NavLink class="nav-link" href="products" @onclick="CollapseSubNavMenu">
                        Products
                    </NavLink>
                </li>
               </AuthorizeView>

                <AuthorizeView Roles="Admin, Courier">
                <li class="nav-item dropdown">
                        <NavLink class="nav-link" href="courier" @onclick="CollapseSubNavMenu">
                        Courier
                    </NavLink>
                
                </li>
                </AuthorizeView>
                <AuthorizeView Roles="Admin, Vendor">
                <li class="nav-item">
                    <NavLink class="nav-link" href="wishlist" @onclick="CollapseSubNavMenu">
                        Wishlist
                    </NavLink>
                </li>
              </AuthorizeView>

              <AuthorizeView Roles="Admin">
                 
                <li class="nav-item dropdown">
                    <NavLink class="nav-link dropdown-toggle" href="#" @onclick="ToggleSubNavMenu" id="navbarDropdown">
                        Activities
                    </NavLink>
                    @*The dropdown menu is fun to learn how it works. You can download the source code and take a look*@
                    @if (expandSubNavSettings)
                    {
                        <ul class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="ToggleSubNavMenu">
                            <li class="nav-item">
                                <NavLink class="dropdown-item" href="purchase">
                                    <span class="oi oi-fork" aria-hidden="true"></span> Purchase
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="dropdown-item" href="produce">
                                    <span class="oi oi-command" aria-hidden="true"></span> Produce
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="dropdown-item" href="sell">
                                    <span class="oi oi-home" aria-hidden="true"></span> Sell
                                </NavLink>
                            </li>

                        </ul>

                        
                    }
                </li>
                </AuthorizeView>
               <AuthorizeView Roles="Admin">

                 
                <li class="nav-item dropdown">
                    <NavLink class="nav-link dropdown-toggle" href="#" @onclick="ToggleSubNavMenu1" id="navbarDropdown">
                        Reports
                    </NavLink>
                    @if (expandSubNavSettings1)
                    {  
                        <ul class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="ToggleSubNavMenu1">
                           
                            <li class="nav-item">
                                <NavLink class="dropdown-item" href="inventoryreport">
                                    <span class="oi oi-fork" aria-hidden="true"></span> Inventory Transactions
                                </NavLink>
                            </li>
                       
                            
                            <li class="nav-item">
                                <NavLink class="dropdown-item" href="productreport">
                                    <span class="oi oi-command" aria-hidden="true"></span> Product Transactions
                                </NavLink>
                            </li>
                                
                        </ul>
                    }
                </li>
              </AuthorizeView>
            </ul>
              
            <LoginDisplay></LoginDisplay>
        </div>
    </div>
</nav>

<br />
@if (IsLoggedIn())
{
    <div style="background-image: url('../AdminLTE/img/bg.jpg'); background-size: cover; background-position: center; height: 100%; width: 100%; overflow-y: scroll;">
        <main class="content px-3">
            <br />
            <div class="bg-light p-5 rounded">
                @Body
            </div>
        </main>
    </div>
}
else
{
    <div style="background-image: url('../AdminLTE/img/bg.jpg'); background-size: cover; background-position: center; height: 100vh; overflow-y: scroll;">
    </div>
}



@code {
    bool collapseNavMenu = true;
    private bool showInitialScreen;
    private bool expandSubNavSettings;
    private bool expandSubNavSettings1;
    string baseMenuClass = "navbar-collapse offcanvas-collapse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        if (!expandSubNavSettings)
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }

    void ToggleSubNavMenu()
    {
        expandSubNavSettings1 = false;
        expandSubNavSettings = !expandSubNavSettings;
    }

    void ToggleSubNavMenu1()
    {
        expandSubNavSettings = false;
        expandSubNavSettings1 = !expandSubNavSettings1;
    }

    void CollapseSubNavMenu()
    {
        expandSubNavSettings = false;
        expandSubNavSettings1 = false;
    }
}