@page "/"
@inject IViewProductsByNameUseCase ViewProductsByNameUseCase
@inject IAddWishlistUseCase AddWishlistUseCase;
@inject AuthenticationStateProvider AuthenticationStateProvider



<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Lato', sans-serif;
    }

    .wrapper {  
        width: 1170px;
        margin: auto;
    }

    header {
        background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../AdminLTE/img/bg.jpg');
        height: 100vh;
        
        background-size: cover;
        background-position:  center;
        position: relative;
    }

    .nav-area {
        float: right;
        list-style: none;
        margin-top: 30px;
    }

        .nav-area li {
            display: inline-block;
        }

            .nav-area li a {
                color: #fff;
                text-decoration: none;
                padding: 5px 20px;
                font-family: poppins;
                font-size: 16px;
                text-transform: uppercase;
            }

                .nav-area li a:hover {
                    background: #fff;
                    color: #333;
                }

    .logo {
        float: left;
    }

        .logo img {
            width: 100%;
            padding: 15px 0;
        }

    .welcome-text {
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 20% 30%;
        text-align: center;
    }

        .welcome-text h1 {
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 60px;
        }

        .welcome-text a {
            border: 1px solid #fff;
            padding: 10px 25px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            margin-top: 20px;
            display: inline-block;
            color: #fff;
        }

            .welcome-text a:hover {
                background: #fff;
                color: #333;
            }

    /* Bootstrap overrides */
    .navbar {
        margin-bottom: 50px;
        border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
    .jumbotron {
        margin-bottom: 0;
    }

    .price {
        color: grey;
        font-size: 22px;
    }
</style>

<AuthorizeView Roles="Admin, WholeSaler, Courier">
    <header>
        <div class="welcome-text">
            
            <h1 style="font-family: Arial, sans-serif; font-size: 2em; font-weight: bold; text-transform: uppercase;">
                E-Marchants
            </h1>
        </div>
    </header>
</AuthorizeView>


<AuthorizeView Roles="Vendor">

    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <div class="jumbotron">
        <div class="container text-center">
            <h1>Suggested for you</h1>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-centre">
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Amazing offers</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            @if (this.listProducts != null)
            {
                @foreach (var product in this.listProducts)
                {
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Latest DEAL</div>
                            <div class="panel-body"><img src="@product.ImagePath" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">@product.ProductName</div>
                            <p class="price">$@product.Price</p>
                            <button type="button" class="btn btn-primary" @onclick="@(async ()=> await AddToWishlist(@product))">Add to Wishlist</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <br><br>
</AuthorizeView>

@code {
     
    private List<Product>? listProducts;
    private string userId;

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;
        userId = user.Identity.Name;
        await LoadProducts();
    }

    private async Task LoadProducts()
    {
        var prods = await ViewProductsByNameUseCase.ExecuteAsync();
        this.listProducts = prods.ToList();
    }

    public async Task AddToWishlist(Product product)
    {
        await AddWishlistUseCase.ExecuteAsync(product, userId);
    }
   
}